<!--
  Generated template for the SelectdestinationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary" >
    <ion-title>Select Destination</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="white" [navPush]="coPage">
        <ion-icon name="cart"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor="let des of destination">
    <img src="http://awn8.co.id/images/travel/big/{{des.gambar_utama}}" class="image-des"/>
    <ion-card-content>
      <ion-card-title>
        {{des.nama_tempat}}
      </ion-card-title>
      <p>
        {{des.alamat}}
      </p>
      <ion-row>
        <ion-col>
          <button ion-button color="dark" full [navPush]="desPage" [navParams]="des" small>Detail</button>
        </ion-col>
        <ion-col>
          <button ion-button color="secondary" full [navPush]="checkPage" [navParams]="des" small>Book Now</button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
