<!--
  Generated template for the InfopromoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Info & Promo</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor="let promo of promos">
    <img [navPush]="detailPage" [navParams]="promo" src="http://awn8.co.id/images/news/{{promo.berita_gambar}}"/>
    <ion-card-content>
      <ion-card-title>
       {{promo.berita_judul}}
      </ion-card-title>
      <button ion-button color="dark" full [navPush]="detailPage" [navParams]="promo" >See Detail</button>
    </ion-card-content>
  </ion-card>
</ion-content>
