<!--
  Generated template for the CheckbookingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Check {{title}}'s Availablity</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form  (ngSubmit)="checkRooms()">
    <ion-row>
      <ion-col>
        <ion-datetime displayFormat="YYYY-MM-DD" [min]="dataDate.date_now" [max]="dataDate.date_end" [(ngModel)]="dataDate.date_start" name="date_start"  placeholder="date start"></ion-datetime>
      </ion-col>
      <ion-col>
        <ion-datetime displayFormat="YYYY-MM-DD" [min]="dataDate.date_start" [max]="dataDate.maxYear" [(ngModel)]="dataDate.date_end" name="date_end"  placeholder="date end"></ion-datetime>
      </ion-col>
    </ion-row>
    <button type="submit" ion-button color="dark" full>Check Date</button>
  </form>
  <ion-list>
    <ion-item *ngFor="let room of rooms">
      <h2>{{room.nama}}</h2>
      <p>Ideal : {{room.kapasitas_ideal}} . Maximum : {{room.kapasitas_max}} . (IDR {{room.harga_1}})</p>
      <button ion-button color="secondary" item-end [navPush]="bookingPage" [navParams]="{title : title, room : room , dateData : dataDate}">Detail</button>
    </ion-item>
  </ion-list>
</ion-content>
