<ion-header>
  <ion-navbar color="primary">
    <ion-title>Register</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="sendRegister()">
    <ion-list>
      <ion-item>
        <img src="assets/images/logo.png" width="250" class="logo-login"/>
        <p class="text-error">{{messageError}}</p>
      </ion-item>
      <ion-item>
        <ion-label fixed>Fullname</ion-label>
        <ion-input required type="text" value="" [(ngModel)]="registerData.fullname" name="fullname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Email</ion-label>
        <ion-input required type="email" value="" [(ngModel)]="registerData.email" name="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Password</ion-label>
        <ion-input required type="password" [(ngModel)]="registerData.password" name="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Re-Type</ion-label>
        <ion-input type="password" [(ngModel)]="registerData.cpassword" name="cpassword"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>No. Hp</ion-label>
        <ion-input required type="text" [(ngModel)]="registerData.nohp" name="nohp"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Address</ion-label>
        <ion-input type="text" [(ngModel)]="registerData.address" name="address"></ion-input>
      </ion-item>
      <ion-item>
       <p align="center">By clicking "register" you agree with our term & conditions</p>
      </ion-item>
    </ion-list>
    <button type="submit" ion-button color="dark" full>Register</button>
  </form>
</ion-content>
