<!--
  Generated template for the MainPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Awn-8 Booking</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <newslider></newslider>
  <ion-card *ngFor="let des of destination">
    <img src="http://awn8.co.id/images/travel/big/{{des.gambar_utama}}" class="image-des"/>
    <ion-card-content>
      <ion-card-title>
        {{des.nama_tempat}}
      </ion-card-title>
      <p>
        {{des.alamat}}
      </p>
      <button ion-button color="dark" full [navPush]="desPage" [navParams]="des">See Destination</button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-menu [content]="appmenuContainer">
  <ion-content>
    <appmenu></appmenu>
  </ion-content>
</ion-menu>

<ion-nav #appmenuContainer [root]="rootPage"></ion-nav>
