<!--
  Generated template for the DestinationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <roomslider [kodeTujuan]="kode_tujuan"></roomslider>
  <b>berlokasi di {{lokasi}}</b>
  <div class="desc" padding innerHTML="{{description}}">
  </div>
  <button ion-button full color="secondary" [navPush]="checkPage" [navParams]="params">Book Now</button>
</ion-content>
