<ion-list>
  <ion-item>
    <img src="assets/images/avatar.png" class="img-profile"/>
    <p class="fullname">{{email}}</p>
  </ion-item>
  <ion-item (click)="backHome()">
    <ion-icon name="home" item-start></ion-icon>
    Home
  </ion-item>
  <ion-item [navPush]="infoPage">
    <ion-icon name="information-circle" item-start></ion-icon>
    Info & Promo
  </ion-item>
  <ion-item [navPush]="desPage">
    <ion-icon name="calendar" item-start></ion-icon>
    Booking
  </ion-item>
  <ion-item [navPush]="blPage">
    <ion-icon name="list-box" item-start></ion-icon>
    Booking List
  </ion-item>
  <ion-item [navPush]="userPage">
    <ion-icon name="contact" item-start></ion-icon>
    User Profile
  </ion-item>
  <ion-item (click)="logOut()">
    <ion-icon name="exit" item-start></ion-icon>
    Logout
  </ion-item>
</ion-list>
