appmenu {
  .img-profile{
    width: 50%;
    display: block;
    border-radius: 50%;
    margin: auto;
    padding-top: 15px ;
    padding-bottom: 15px ;
  }
  .fullname{
    text-align: center;
    padding: 5px ;
    width: 100%;
  }
}
