
<ion-content class="wrapper-login">
  <form  (ngSubmit)="sendLogin()">
    <ion-list>
      <ion-item>
        <img src="assets/images/logo.png" width="250" class="logo-login"/>
        <p class="text-error">{{messageError}}</p>
      </ion-item>
      <ion-item>
        <ion-label fixed>Email</ion-label>
        <ion-input type="email" [(ngModel)]="loginData.email" name="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Password</ion-label>
        <ion-input type="password"  [(ngModel)]="loginData.password" name="password"></ion-input>
      </ion-item>
      <ion-item>
        <a [navPush]="forgotPage">Forgot Password ?</a>
      </ion-item>
    </ion-list>
    <button type="submit" ion-button color="primary" full>Login</button>
    <button ion-button color="dark" full (click)="goRegister();">Register</button>
  </form>
</ion-content>
