<!--
  Generated template for the UserinfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Update User Info</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <form (ngSubmit)="updateUserData()" novalidate>
    <ion-list>
      <ion-item>
        <ion-label fixed>Fullname</ion-label>
        <ion-input required type="text" value="" [(ngModel)]="userData.fullname" name="fullname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Email</ion-label>
        <ion-input required type="email" value="" [(ngModel)]="userData.email" name="email" aria-readonly="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Current Password</ion-label>
        <ion-input required type="password" [(ngModel)]="userData.opassword" name="opassword"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Password</ion-label>
        <ion-input required type="password" [(ngModel)]="userData.password" name="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Re-Type</ion-label>
        <ion-input type="password" [(ngModel)]="userData.cpassword" name="cpassword"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>No. Hp</ion-label>
        <ion-input required type="text" [(ngModel)]="userData.nohp" name="nohp"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Address</ion-label>
        <ion-input type="text" [(ngModel)]="userData.address" name="address"></ion-input>
      </ion-item>
    </ion-list>
    <button type="submit" ion-button color="dark" full>Edit Information</button>
  </form>
</ion-content>
