<!--
  Generated template for the RsvformPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Process Reservation</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list radio-group [(ngModel)]="selectedBank">
    <ion-list-header>
      Select Payment Account
    </ion-list-header>
    <ion-item *ngFor="let b of bank;let i=index">
      <ion-label>
        <h2>{{b.bank_nama}} {{b.bank_no_rekening}}</h2>
        <p>a/n {{b.bank_pemilik}}</p>
      </ion-label>
      <ion-radio [value]="b.bank_nama"></ion-radio>
    </ion-item>
  </ion-list>
  <ion-list radio-group [(ngModel)]="selectedpolling">
    <ion-list-header>
     How do you know Agrowisata N8 ?
    </ion-list-header>
    <ion-item *ngFor="let p of polling;let i=index">
      <ion-label>{{p.poling_nama}}</ion-label>
      <ion-radio [value]="p.poling_nama"></ion-radio>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-textarea placeholder="write some note" [(ngModel)]="note" style="height: 150px"></ion-textarea>
    </ion-item>
  </ion-list>
  <button ion-button color="secondary" full (click)="processReservation()">Process</button>
</ion-content>
