<!--
  Generated template for the CheckoutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Check Out</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngIf="cartData.length>0">
    <ion-list *ngFor="let itemCart of cartData;let i =index">
      <ion-item>
        <p>{{itemCart.tujuan}}'s {{itemCart.room.nama}} ({{itemCart.dateData.date_start}} - {{itemCart.dateData.date_end}})</p>
        <button ion-button color="danger" clear  item-end (click)="deleteItem(i)" icon-only="">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item>
      <ion-item *ngFor="let price of itemCart.priceData">
        <h2>{{price.night}}</h2>
        <p item-end>IDR {{price.price}}</p>
      </ion-item>
      <ion-item>
        <h2>Sub Total</h2>
        <p item-end>IDR {{itemCart.grandTotal}}</p>
      </ion-item>
    </ion-list>
    <ion-row>
      <ion-col>
        <h3>Grand Total</h3>
      </ion-col>
      <ion-col><h3 style="text-align: right">IDR {{grandTotal}}</h3></ion-col>
    </ion-row>
    <button ion-button color="dark" [navPush]="destPage" full>Book Other Room</button>
    <button ion-button color="secondary" full [navPush]="formPage">Process Reservation</button>
  </div>
  <div *ngIf="cartData.length==0">
    <h3 align="center">No Booking Item Found</h3>
    <button ion-button color="secondary" [navPush]="destPage" full>Book A Room</button>
  </div>
</ion-content>
