<ion-header>
  <ion-navbar color="primary">
    <ion-title>Register</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="sendForgot()">
    <ion-list>
      <ion-item>
        <img src="assets/images/logo.png" width="250" class="logo-login"/>
        <p class="text-error">{{messageError}}</p>
      </ion-item>
      <ion-item>
        <ion-label fixed>Email</ion-label>
        <ion-input required type="email" value="" [(ngModel)]="emailForgot" name="email"></ion-input>
      </ion-item>
    </ion-list>
    <button type="submit" ion-button color="dark" full>Send Reset Password</button>
  </form>
</ion-content>
