<!--
  Generated template for the DetailinfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
  <img src="http://awn8.co.id/images/news/{{images}}"/>
  <div padding innerHTML="{{content}}"></div>
</ion-content>
