<!--
  Generated template for the BookroomPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{place}}'s {{room.nama}}</ion-title>
    <!--<ion-title>Book Room</ion-title>-->
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col col-6>
      <ion-list>
        <ion-item>
          <h2>Tipe</h2>
          <p>{{room.tipe}}</p>
        </ion-item>
        <ion-item>
          <h2>Ideal </h2>
          <p>{{room.kapasitas_ideal}} person</p>
        </ion-item>
        <ion-item>
          <h2>Max</h2>
          <p>{{room.kapasitas_max}} person</p>
        </ion-item>
        <ion-item>
          <h2>Description</h2>
          <p>{{room.keterangan_indo}}</p>
        </ion-item>
      </ion-list>
    </ion-col>
    <ion-col col-6>
      <ion-list>
        <ion-item>
          <h2>Sunday-Thursday</h2>
          <p>IDR {{room.harga_1}} /night</p>
        </ion-item>
        <ion-item>
          <h2>Friday-Saturday</h2>
          <p>IDR {{room.harga_2}} /night</p>
        </ion-item>
        <ion-item>
          <h2>Holiday</h2>
          <p>IDR {{room.harga_3}} /night</p>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-list>
    <ion-list-header>
      Price Detail
    </ion-list-header>
    <ion-item *ngFor="let price of prices">
      <h2>{{price.night}}</h2>
      <p item-end>IDR {{price.price}}</p>
    </ion-item>
    <ion-item>
      <h2><b>Grand Total</b></h2>
      <p item-end><b>IDR {{grandTotal}}</b></p>
    </ion-item>
  </ion-list>
  <button ion-button color="secondary" full (click)="addToCart()">Add to Chart</button>
</ion-content>
