roomslider {
  .swiper-slide{
    height : 400px !important;
    background : #000000;
    .img-slide{
      background-size: cover;
      background-position: center center;
      background-attachment: fixed;
      width: 100%;
      height: 100%;
    }
  }
  .swiper-pagination-bullet{
    background: #ffffff;
  }
  ion-slide,ion-slides{
    height: 400px !important;
  }
  .swiper-container{
    height: 400px !important;
  }
}
